name: CI
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Mise install
        uses: jdx/mise-action@8ccca8c0c6319b587efab753164d1fbf656c7115
        with:
          cache: true
          experimental: true

      - uses: Swatinem/rust-cache@5e4a76743357a1c3c57315bc1896d2c7f89d6861

      - name: Run build
        run: mise build

      - name: Run tests
        run: mise test
