name: CI
on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Mise install
      uses: jdx/mise-action@v3
      with:
        experimental: true
    
    - name: Build
      run: mise build
