name: CI
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Mise install
        uses: jdx/mise-action@10c27cdfd4d506b333d458811b319c6560c41d38
        with:
          cache: true
          experimental: true

      - uses: Swatinem/rust-cache@5e4a76743357a1c3c57315bc1896d2c7f89d6861

      - name: Run build
        run: mise build

      - name: Run tests
        run: mise test
