name: CI
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

      - name: Mise install
        uses: jdx/mise-action@7d22663055247ddf4cb1e9dcadca821bcd56042c
        with:
          cache: true
          experimental: true

      - uses: Swatinem/rust-cache@5e4a76743357a1c3c57315bc1896d2c7f89d6861

      - name: Run build
        run: mise build

      - name: Run tests
        run: mise test
