name: CI
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Mise install
        uses: jdx/mise-action@f03edced6dc7ba6a2afe0ceaf72fb12fa13cb1ec
        with:
          cache: true
          experimental: true

      - uses: Swatinem/rust-cache@11da8522bc3856a8fbc565f1d1530989c793d67d

      - name: Run build
        run: mise build

      - name: Run tests
        run: mise test
